<div class="row">
    <div class="column">
        <p><%= link "← go back", to: "/" %></p>
        <h2>Palindrome</h2>

        <p id="palindrome"><%= @word %></p>
        <%= @pal %>
    </div>
</div>

